  <%= search_form_for @q, url: url do |f| %>
    <div class="input-group ">
      <%= f.search_field :title_or_content_cont, placeholder: 'æ¤œç´¢ãƒ¯ãƒ¼ãƒ‰', size: "30"%>
      <div class="input-group-append">
        <%= f.submit 'ðŸ”', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>