
<%= render 'search', q: @q, url: outfits_path %>
<!-- <table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>image</th>
      <th>いいね</th>
      <th> ユーザー名</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  -->
  <br/>
  <div class="row card-deck">
    <% @outfits.each do |outfit| %>
       <div class="col-xs-11 col-sm-5 col-md-4 col-lg-4" id="outfit_<%= outfit.id %>">
        <%= render 'outfit', outfit: outfit %>
      </div>
    <% end %>
  </div>

<br>
<% if proposer_signed_in? %>
<%= link_to 'New Outfit', new_outfit_path %>
<% end %>
